$blue: #337AB7;

h2 {
  font-family: sans-serif;
}

.search {
  padding: 12px;
  width: 300px;
  border: 1px solid lightgrey;
  border-radius: 8px 0 0 8px;
  margin: 0;
  border-right: none;
}

.ask {
  margin: 0;
  background-color: $blue;
  padding: 13px;
  border-radius: 0 8px 8px 0;
  color: white;
  border: none;

}
